.App {
	font-family: arial, sans-serif;
	max-width: 600px;
	margin: 0 auto;
}

.App footer {
	margin-top: 5px;
	font-size: 14px;
}

.App .inline-block {
	display: inline-block;
}

.App .AuthorLink {
	text-decoration: none;
	color: palevioletred;
}
